@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css?family=Arsenal:400,700'); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");
/* 스타일 초기화 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}
button {
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
}
input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  font-size: 1em;
  font-family: inherit;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section {
  display: block;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 공통 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* 공통 반응형 콘텐츠 */

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: 'PT Serif', serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 400;
  color: #414145;
}

.rwd-img {
  max-width: 100%;
  height: auto;
}
.about-article {
  line-height: 35px;
  font-weight: 300;
}
.italic{
  font-style: italic;
}

/* 공통 헤더 */
.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.logo {
  order: -1;
}
.nav-menu {
  display: flex;
}
.nav-portfolio {
  color: #333;
  letter-spacing: 0.3px;
}
.nav-about {
  color: #333;
  letter-spacing: 0.3px;
}
.nav-about a:hover,
.nav-portfolio a:hover {
  color: #bd2a3b;
}
.red {
  color: #bd2a3b;
  font-weight: 300;
}
.bold{
  font-weight: 700;
}

/* 공통 메인 */
.about_intro {
  font-weight: 400;
  color: #414145;
}
.medium {
  /* text-decoration:underline; */
  color: #333;
  font-weight: 400;
  /* font-style: italic; */
    text-decoration-line: underline;

}

.dribbble {
 /* text-decoration:underline; */
  color: #ea4c89;
  font-weight: 400;
  /* font-style: italic; */
    text-decoration-line: underline;
  
}
.get-in-touch {
 /* text-decoration:underline; */
  color: #bd2a3b;
  font-weight: 400;
  /* font-style: italic; */
  text-decoration-line: underline;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1,
.column2 {
  float: left;
}

/* 공통 Footer */
.footer {
  background: #414145;
  padding: 30px;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.copyright {
  display: block;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* Style all font awesome icons */
.fa {
  margin: 22px;
  font-size: 200px;
  width: 1px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-bottom: 1px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.6;
}

/* Set a specific color for each brand */

/* Dribbble */
.fa-dribbble {
  background: #414145;
  /* background: #C42261; */
  color: white;
}

/* LinkedIn */
.fa-linkedin {
  background: #414145;
  /* background: #0077b5; */
  color: white;
}
/* Medium */
.fa-medium {
  background: #414145;
  color: white;
}
/* Google */
.fa-google {
  background: #414145;
  /* background: #ea4335; */
  color: white;
}

/* 모바일 */
@media screen and (max-width: 1000px) {
  .header {
    padding: 40px 20px 40px 20px;
    position: sticky;
  }

  .logo {
    margin-left: 5px;
  }
  .nav-portfolio {
    font-size: 14px;
    margin-right: 20px;
  }
  .nav-about {
    font-size: 14px;
  }
   .footer {
    font-size: 18px;
    margin-top: 10px;
  }
  .copyright {
    width: 100%;
    font-size: 12px;
    margin-top: 1px;
     font-weight: 400;
  }
  .fa {
  margin: 18px;
}
  .row{
    padding: 20px 40px;
  }
   .column1 {
    float: left;
    width: 100%;
    /* font-family: "PT Serif", serif; */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #bd2a3b;
  }
  .column2 {
    width: 100%;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    /* font-family: "Open Sans", sans-serif; */
    line-height: 25px;
    font-weight: 300;
    align-content: center;
    text-align: center;
  }
  .about-intro {
    padding: 20px 35px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }

  .about-article {
    padding: 8px 35px;
    font-size: 18px;
    line-height: 25px;
    font-family: "Montserrat", sans-serif;
  }
  .button {
  position: relative;
  left: 50%;
  transform: translateX(-50%); 
  display: inline-block;
  border-radius: 0px;
  background-color: #fff;
  border: 1px solid #414145;
  color: #414145;
  text-align: center;
  font-size: 14px;
  padding: 18px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;

  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
 position: relative;
  left: 50%;
  transform: translateX(-50%); 
  display: inline-block;
  border-radius: 0px;
  background-color: #414145;
  border: 1px solid #414145;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 18px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
 font-family: "Montserrat", sans-serif;
}
  /* .download_resume {
    margin: 0px 100px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    border: 1px solid #414145;
    transition: all 500ms;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background: #fff;
    color: #414145;
  }
  .download_resume:hover {
    background: #414145;
    color: #fff;
  } */
}

/* 데스크탑 */
@media screen and (min-width: 1000px) {
  .header {
    padding: 45px 80px 45px 80px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 3px 3px 0 rgba(190, 190, 190, 0.01);
  }
  .about-intro {
    padding: 50px 150px;
    line-height: 45px;
    font-size: 32px;
    font-weight: 300;
  }
  .nav-portfolio {
    font-size: 16px;
    margin-right: 30px;
  }
  .nav-about {
    font-size: 16px;
  }

  .about-article {
    padding: 20px 150px;
    font-size: 24px;
    font-weight: 300;
    line-height: 35px;
    font-family: "Montserrat", sans-serif;
  }
  /* .column1 {
    float: left;
    width: 20%;
    /* font-family: "PT Serif", serif; */
    /* font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: #bd2a3b;
  } */ 
  .column2 {
    width: 100%;
    text-align: center;
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
    /* font-family: "Open Sans", sans-serif; */
    line-height: 38px;
    font-weight: 300;
  }
  .row {
    margin: 50px;
    padding: 20px 140px;
  }
 .footer {
    font-size: 22px;
    margin-top: 50px;
    font-weight: 200;
    text-align: center;
  }
  .copyright {
    width: 100%;
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
     font-weight: 400;
  }
  .fa {
  margin: 22px;
}

.button {
  position: relative;
  left: 50%;
  transform: translateX(-50%); 
  display: inline-block;
  border-radius: 0px;
  background-color: #fff;
  border: 1px solid #414145;
  color: #414145;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 600px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
 position: relative;
  left: 50%;
  transform: translateX(-50%); 
  display: inline-block;
  border-radius: 0px;
  background-color: #414145;
  border: 1px solid #414145;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 600px;
  transition: all 0.5s;
  cursor: pointer;
 font-family: "Montserrat", sans-serif;
}
 /* .download_resume {
    margin: 0px 400px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    align-content: left;
    border: 1px solid #414145;
    transition: all 500ms;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: #fff;
    color: #414145;
  }
  .download_resume:hover {
    background: #414145;
    color: #fff;
  } */
}
