@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css?family=Arsenal:400,700'); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');
/* 스타일 초기화 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}
button {
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
}
input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  font-size: 1em;
  font-family: inherit;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section {
  display: block;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 공통 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* 공통 반응형 콘텐츠 */

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'PT Serif', serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 400;
  color: #414145;
}

.rwd-img {
  max-width: 100%;
  height: auto;
}
.bold {
  font-weight: 600;
  color: #414145;
}
.red {
  color: #bd2a3b;
  font-weight: 400;
}
.dribbble{
  color: #ea4c89;
  font-weight: 400;
  /* font-style: italic; */
  /* text-decoration: underline; */
}
.medium{
  color: #6d6d6d;
  font-weight: 400;
  /* font-style: italic; */
  /* text-decoration: underline; */
}
.linkedin{
  color: #0077b5;
  font-weight: 400;
  /* font-style: italic; */
  /* text-decoration: underline; */
}
.resume{
  color: #bd2a3b;
  font-weight: 400;
}

.underline {
  font-style: italic;
  text-decoration: underline;
}
.button {
  position: relative;
  left: 50%;
  transform: translateX(-50%); 
  display: inline-block;
  border-radius: 0px;
  background-color: #fff;
  border: 1px solid #414145;
  color: #414145;
  text-align: center;
  font-size: 14px;
  padding: 18px;
  width: 350px;
  transition: all 0.5s;
  cursor: pointer;

  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
 position: relative;
  left: 50%;
  transform: translateX(-50%); 
  display: inline-block;
  border-radius: 0px;
  background-color: #414145;
  border: 1px solid #414145;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 18px;
  width: 350px;
  transition: all 0.5s;
  cursor: pointer;
 font-family: "Montserrat", sans-serif;
}
/* 공통 헤더 */
.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.logo {
  order: -1;
}
.nav-menu {
  display: flex;
}
.nav-portfolio {
  color: #414145;
  letter-spacing: 0.3px;
}
.nav-about {
  color: #414145;
  letter-spacing: 0.3px;
}
.nav-about a:hover,
.nav-portfolio a:hover {
  color: #bd2a3b;
}

/* 공통 인트로 */
.intro {
  background-color: #fff;
  font-weight: 500;
}
.view-resume {
  font-weight: 300;
  margin-top: 20px;
  letter-spacing: 0.01px;
}
.click-here {
  color: #bd2a3b;
  /* text-decoration: underline; */
}

/* 공통 포트폴리오 메인 */
.main {
  overflow: hidden;
}
.card {
  float: left;
  width: 100%;
  font-weight: 500;
}
.card a,
.card img {
  display: block;
}
.card a {
  position: relative;
  display: block;
}
.card a::after {
  transition: all 800ms;
  background: transparent;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 a:hover::after {
  background: rgba(0, 0, 0, 0.6);
  content: "Earn & Learn UX/UI Design";
  padding: 50px;
}
.card2 a:hover::after {
  background: rgba(0, 0, 0, 0.6);
  content: "Route Creator UX/UI Design";
  padding: 50px;
}
.card3 a:hover::after {
  background: rgba(0, 0, 0, 0.6);
  content: "Samsung Global Audio UX Consulting";
  padding: 50px;
}
.card4 a:hover::after {
  background: rgba(0, 0, 0, 0.6);
  content: "iTrack UX/Web Re-design";
  padding: 50px;
}
.card5 a:hover::after {
  background: rgba(0, 0, 0, 0.6);
  content: "Michigan Medicine UX Research";
  padding: 50px;
}
.card6 a:hover::after {
  background: rgba(0, 0, 0, 0.6);
  content: "[Coming Soon!] CHI Student Design Competition";
  padding: 50px;
}

.card img {
  width: 100%;
}

/* 공통 Footer */
.footer {
  background: #414145;
  padding: 30px;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.copyright {
  display: block;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* Style all font awesome icons */
.fa {
  margin: 22px;
  font-size: 200px;
  width: 1px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-bottom: 1px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.6;
}

/* Set a specific color for each brand */

/* Dribbble */
.fa-dribbble {
  background: #414145;
  /* background: #C42261; */
  color: white;
}

/* LinkedIn */
.fa-linkedin {
  background: #414145;
  /* background: #0077b5; */
  color: white;
}
/* Medium */
.fa-medium {
  background: #414145;
  color: white;
}
/* Google */
.fa-google {
  background: #414145;
  /* background: #ea4335; */
  color: white;
}

/* 모바일 */
@media screen and (max-width: 1000px) {
  .header {
    padding: 40px 20px 40px 20px;
    position: sticky;
  }
  .nav-portfolio {
    font-size: 14px;
    margin-right: 20px;
  }
  .nav-about {
    font-size: 14px;
  }
  .intro {
    font-size: 15px;
    padding: 50px;
  }
  .intro-contents {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
  }
  .button {
  font-size: 14px;
  padding: 18px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
  font-size: 14px;
  padding: 18px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
 font-family: "Montserrat", sans-serif;
 margin-top: 0;
  margin-bottom: 30px;
}
  /* .download_resume {
    margin: 10px 100px;
    padding: 20px;
    text-align: center;
    border: 1px solid #414145;
    transition: all 500ms;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    background: #fff;
    color: #414145;
  } */
  /* .download_resume:hover {
    background: #414145;
    color: #fff;
  } */
  /* .view-resume {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
  } */
  .card {
    width: 100%;
  }
  .card a::after {
    font-size: 18px;
  }

  .footer {
    font-size: 18px;
    margin-top: 10px;
  }
  .copyright {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    margin-top: 1px;
  }
  .fa {
  margin: 18px;
}
}
/* 데스크탑 */
@media screen and (min-width: 1000px) {
  .header {
    padding: 45px 80px 45px 80px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 3px 3px 0 rgba(190, 190, 190, 0.01);
  }
  .nav-portfolio {
    font-size: 16px;
    margin-right: 30px;
  }
  .nav-about {
    font-size: 16px;
  }

  .intro {
    padding: 90px 120px 0 120px;
  }
  .intro-contents {
    font-size: 19px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
  }
  .intro-sub {
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    color: #bd2a3b;
  }
  /* .download_resume {
    margin: 40px 400px;
    padding: 20px;
    text-align: center;
    border: 1px solid #414145;
    transition: all 500ms;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: #fff;
    color: #414145;
  }
  .download_resume:hover {
    background: #414145;
    color: #fff;
  } */

  .main {
    padding-top: 140px;
    overflow: hidden;
  }
  .card a::after {
    font-size: 20px;
  }
  /* 카드 퍼센테이지 비율을 다르게 하고 싶으면 아래 카드 위드를 고치면 됨 */
  .card {
    font-size: 20px;
    /* border: 1px solid #aaa; */
  }
  .card1 {
    width: 50%;
  }
  .card2 {
    width: 50%;
  }
  .card3 {
    width: 50%;
  }
  .card4 {
    width: 50%;
    float: right;
  }
  .card5 {
    width: 50%;
  }
  .card6 {
    width: 50%;
  }
  /* .card3 {
    height: 485px;
    overflow: hidden;
  }
  .card3 img{
    height: 486px;
  } */
  /* .card4 {
    width: 50%;
    float: right;
  }
  .card5 {
    width: 25%;
  }
  .card6 {
    width: 25%;
  } */

  .footer {
    font-size: 22px;
    margin-top: 50px;
    font-weight: 200;
    text-align: center;
  }
  .copyright {
    width: 100%;
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
    font-weight: 400;
  }
  .fa {
  margin: 22px;
}
}
